.repo {
    padding: 10px;
    margin: 5px 0px;
    background: white;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(23, 2, 139);
    border-radius: 5px;
    
}
.repo-description {
    flex: 0 0 50px;
    overflow: auto;
}
.repo-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.repo-header__stars img{    
    max-width: 20px;
    display: inline-block;
    margin-right: 5px;
}
.repo-avatar img{
    max-width: 50px;
    border-radius: 50%;
    display: block;
}